[user]
	name = Jackson Hoffart
	email = jackson.hoffart@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
 	editor = vim
 	excludesfile = /Users/jdhoffa/.gitignore
    pager = bat --paging=always --pager=less

[color]
	ui = true
[diff]
	colorMoved = default
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	path = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = false
